html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/

.header-search {
    margin-left: 30px;
    min-width: 300px;
}

.btn-outline-dark {
    background-color: #343a40; 
    color: #fff; 
    border-color: #343a40; 
}

    .btn-outline-dark:hover {
        color: #343a40; 
        border-color: #343a40; 
    }

.foot-fix {
    padding: 10px;
}


#navbarSupportedContent > div{
    margin-right:60px;
}

.custom-toast-bg {
    background-color: #28a745 !important;
    color: #fff !important; 
}

.server-alert-success {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: green;
}

.server-alert-danger {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: red;
}

.server-alert-info {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: deepskyblue;
}

.spinnerSearch {
    position: relative;
    right: -1px;
    bottom: -12px;
}
