
@model BasketDetailViewModel

    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-dark">Sipariş Özeti</span>
        <span class="badge bg-dark rounded-pill">@Model.Items.Count Ürün</span>
    </h4>

    <ul class="list-group mb-3">

        @foreach (var item in Model.Items)
        {
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">@item.CourseName</h6>
                    <small class="text-muted">@item.Quantity adet</small>
                </div>
                @{ var itemQuantityPrice = (item.Quantity * item.UnitPrice);}
                <span class="text-muted">@itemQuantityPrice ₺</span>
            </li>
        }
        <li class="list-group-item d-flex justify-content-between">
            <span>Topla Tutar (TL)</span>
            <strong>@Model.TotalPrice ₺ </strong>
        </li>
    </ul>

