
@{
    ViewData["Title"] = "PaymentPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PaymentViewModel

<div class="container">
    <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">


            @await Component.InvokeAsync("PaymentSummary")



        </div>
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Fatura Bilgileri</h4>
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
            <form id="paymentForm" asp-controller="Payment" asp-action="PaymentPage" method="post" class="needs-validation" novalidate>
                <input type="hidden" asp-for="OrderId"  value="@ViewBag.OrderId" />
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label asp-for="NameForBill" class="form-label">İsim</label>
                        <input asp-for="NameForBill" class="form-control" value="">
                        <span asp-validation-for="NameForBill" class="text-danger"></span>
                    </div>

                    <div class="col-sm-6">
                        <label asp-for="LastNameForBill" class="form-label">Soy İsim</label>
                        <input asp-for="LastNameForBill" class="form-control" value="">
                        <span asp-validation-for="LastNameForBill" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                        <label asp-for="AdressForBill" class="form-label">Address</label>
                        <input asp-for="AdressForBill" class="form-control">
                        <span asp-validation-for="AdressForBill" class="text-danger"></span>
                    </div>


                </div>

                <hr class="my-4">

                <h4 class="mb-3">Ödeme Bilgileri</h4>
                <div class="row gy-3">
                    <div class="col-md-6">
                        <label asp-for="CardHolderName" class="form-label">Kart sahibinin ismi</label>
                        <input asp-for="CardHolderName" class="form-control">
                        <span asp-validation-for="CardHolderName" class="text-danger"></span>

                    </div>

                    <div class="col-md-6">
                        <label asp-for="CardNumber" class="form-label">Kredi karti numarasi</label>
                        <input asp-for="CardNumber" class="form-control">
                        <span asp-validation-for="CardNumber" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="ExpiryDate" class="form-label">Son Kullanma Tarihi</label>
                        <input asp-for="ExpiryDate" class="form-control">
                        <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="CVV" class="form-label">CVV</label>
                        <input asp-for="CVV" class="form-control">
                        <span asp-validation-for="CVV" class="text-danger"></span>
                    </div>
                </div>

                <hr class="my-4">

                <button id="paymentButton" class="w-100 btn btn-outline-dark btn-lg" type="submit">
                    <div class="spinner-border spinner-border-sm d-none" id="buttonSpinner" role="status" aria-hidden="true"></div>
                    <span id="buttonText">Ödeme Yap</span>

                </button>
            </form>
        </div>
    </div>
</div>

@if (!ViewData.ModelState.IsValid)
{
    @section Scripts{
        <script>
            $(document).ready(function () {

            });
            $("#paymentButton").prop("disabled", false);
            $("#buttonSpinner").css("display", "none");
        </script>
    }
}

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#paymentForm").on("submit", function (e) {
                var $form = $(this);
                var $button = $("#paymentButton");
                var $spinner = $("#buttonSpinner");
                var $buttonText = $("#buttonText");

                if (!$form.valid()) {
                    e.preventDefault();
                    return;
                }

                $spinner.removeClass("d-none");
                $buttonText.text("Ödeme İşleniyor...");
                $button.prop("disabled", true);
            });
        });
    </script>
}





