
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-4 offset-md-4">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Siparişiniz Oluşturuldu!</h4>
            <p>Siparişlerinizi Siparişlerim sayfasından takip edebilirsiniz.</p>
            <hr>
            <a asp-controller="Order" asp-action="Index" class="w-100 btn btn-outline-dark btn-lg" type="submit">
                <span id="buttonText">Siparişlerim</span>

            </a>
        </div>
    </div>
</div>



