<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Yönetim Paneli</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="~/css/sidebars.css" rel="stylesheet" />

</head>
<body>
    <main>
        <div class="b-example-divider"></div>

        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px">
            <h4 class="fw-semibold">Yönetim Paneli</h4>
            <div class="border-top my-3"></div>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#orders-collapse"
                            aria-expanded="false">
                        Siparişler
                    </button>
                    <div class="collapse" id="orders-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a asp-area="Admin" asp-controller="Users" asp-action="UserList" class="link-dark rounded">Tüm Kullanıcılar</a></li>
                            <li><a asp-area="Admin" asp-controller="Users" asp-action="CreateUser" class="link-dark rounded">Kullanıcı Ekle</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#courses-collapse"
                            aria-expanded="false">
                        Kurslar
                    </button>
                    <div class="collapse" id="courses-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a asp-area="Admin" asp-controller="Courses" asp-action="Index" class="link-dark rounded">Tüm Kurslar</a></li>
                            <li><a asp-area="Admin" asp-controller="Courses" asp-action="CourseCreate" class="link-dark rounded">Kurs Ekle</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#categories-collapse"
                            aria-expanded="false">
                        Kategoriler
                    </button>
                    <div class="collapse" id="categories-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="link-dark rounded">Tüm Kategoriler</a></li>
                            <li><a asp-area="Admin" asp-controller="Categories" asp-action="CategoryCreate" class="link-dark rounded">Kategori Ekle</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#users-collapse"
                            aria-expanded="false">
                        Kullanıcılar
                    </button>
                    <div class="collapse" id="users-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a asp-area="Admin" asp-controller="Users" asp-action="UserList" class="link-dark rounded">Tüm Kullanıcılar</a></li>
                            <li><a asp-area="Admin" asp-controller="Users" asp-action="CreateUser" class="link-dark rounded">Kullanıcı Ekle</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#role-collapse"
                            aria-expanded="false">
                        Roller
                    </button>
                    <div class="collapse" id="role-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a asp-area="Admin" asp-controller="Roles" asp-action="Index" class="link-dark rounded">Tüm Roller</a></li>
                            <li><a asp-area="Admin" asp-controller="Roles" asp-action="RoleCreate" class="link-dark rounded">Rol Ekle</a></li>
                        </ul>
                    </div>
                </li>


                <li class="border-top my-3"></li>

                <li class="mb-1"> <a href="/" class="btn btn-outline-primary">Siteye Dön</a></li>
            </ul>
        </div>
        <div class="b-example-divider"></div>

        <section class="p-5">
            @RenderBody()
        </section>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sidebars.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
